<!DOCTYPE html>
<html>
  <body>
    <%= render 'list', book_new:Book.new %>
    <h1>Book detail</h1>
    <table>
      <tbody>
        <tr>
          <%= link_to user_path(current_user.id) do %>
          <%= @user.name %>
          <% end %>
          <%= link_to book_path do %>
          <%= @book.title %>
          <% end %>
          <td><%= @book.body %></td>
          <td><%= link_to 'Edit', edit_book_path %></td>
          <td><%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
